<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html"><i class="fal fa-home-alt"></i></a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/ebooks.html"><i class="fal fa-books"></i></a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html"><i class="fal fa-id-card-alt"></i></a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html"><i class="fal fa-mail-bulk"></i></a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/buy-me-a-coffee.html"><i class="fal fa-barcode-read"></i></i></a>
</li>
