<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/ebooks.html">eBook</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html"><i class="fal fa-mail-bulk"></i></a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/buy-me-a-coffee.html"><i class="fal fa-qrcode"></i></i></a>
</li>
